* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}
@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

body {
    min-height: 100vh;
    background:linear-gradient(to left top, #7FC7D9, #DCF2F1);
    display: flex;
    justify-content: center;
    align-items: center;
}
main.table {
  width: 125vw;
  height: 90vh;
  border-radius: .8rem;
  overflow: hidden;
}

.form-title {
  font-size: 50px;
  font-weight: 900;
  line-height: 112px;
  text-align: right;
  color: #0f1035;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed; /* Cambia a 'fixed' para mantener el título en una posición fija */
  top: 30px; /* Ajusta la posición vertical desde la parte superior de la ventana */
  left: calc(75% - 250px); /* Ajusta la posición horizontal, en este caso para que quede a la derecha */
  /* Puedes ajustar 'left' según tus necesidades */
  z-index: 20; /* Asegura que el título esté por encima de otros elementos */
}

.table__header {
    width: 100%;
    height: 10%;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}

.table__body {
  position: fixed;
  left: 16%;
    width: 73%;
    max-height: calc(89% - 1.6rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
    margin-top: 100px;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #7FC7D9;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

.table__header h1{
    margin-top: -900px;
}



table {
  width: 70%; /* Cambia esto de 70% a 100% */
  margin: 250px; /* Elimina el margen automático */
  margin-top: 200px;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}



.table__body .status.activo {
    text-align: center;
    background-color: #7FC7D9;
    color: #black;
    font-weight: bold; 
}

.table__body .status.inactivo {
    text-align: center;
    background-color: #7FC7D9;
    color: #black;
    font-weight: bold;
}



@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #365486;
}

thead th:hover {
    color: #365486;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}


/* Estilo para los botones de acciones */
.btn-detalles, .btn-editar, .btn-eliminar {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo específico para cada botón */
.btn-detalles {
    background-color: #365486; /* Azul para "Ver Detalles" */
    color: white;
}

.btn-editar {
    background-color: #7FC7D9; /* Amarillo para "Editar" */
    color: black;
}

.btn-eliminar {
    background-color: #DC3545; /* Rojo para "Eliminar" */
    color: white;
}

.btn-crear {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff; /* Cambia esto a tu color deseado */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-left: 190px;
    font-weight: bold;
}

.btn-crear:hover {
    background-color: #0056b3; /* Cambia esto a un color más oscuro para el hover */
}

.barra-decorativa {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 88%;
    background-color: transparent;
    z-index: 0; /* Enviar la barra decorativa detrás del formulario */
}

/* Footer decorativo */
.footer-decorativa {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2700px; 
    height: 88%;
    background-color: transparent;
    z-index: 0; /* Enviar el footer detrás del formulario */
}


.iconoLista {
    position: fixed; /* Posiciona la imagen de manera absoluta */
    top: 30px; /* Ajusta según donde quieras que se muestre */
    left: 1000px; /* Ajusta según donde quieras que se muestre */
    z-index: 20; /* Asegura que la imagen esté por encima de la barra decorativa */
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantén la proporción de la imagen */
}

.casita {
  position: fixed; /* Posiciona la imagen de manera absoluta */
  top: -50px; /* Ajusta según donde quieras que se muestre */
  left: 850px; /* Ajusta según donde quieras que se muestre */
  z-index: 20; /* Asegura que la imagen esté por encima de la barra decorativa */
  width: 500px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantén la proporción de la imagen */
}

.iconoEdit{
    position: fixed; /* Posiciona la imagen de manera absoluta */
    top: 250px; /* Ajusta según donde quieras que se muestre */
    left: 1100px; /* Ajusta según donde quieras que se muestre */
    z-index: 20; /* Asegura que la imagen esté por encima de la barra decorativa */
    width: 560px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantén la proporción de la imagen */
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #0F1035;
  z-index: 100; /* Asegura que el sidebar esté encima del contenido */
  transition: all 0.5s ease;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin-left: 5px;
}

.logo-name {
    width: 130px;
    height: 80px;
    margin-left: 10px;
    margin-top: 20px;
}

/* Cuando el sidebar está cerrado */
.sidebar.close {
  width: 78px;
}

.sidebar .logo {
  height: 60px;
  display: flex;
  width: 100%;
  align-items: center;
}

.sidebar .logo i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo .logo-name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo .logo-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-list {
  overflow: visible;
}

.sidebar .nav-list::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-list li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-list li:hover {
  background-color: #365486;
  border-radius: 25px;
}

.sidebar .nav-list li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-list li .icon-link {
  display: block;
}

.sidebar .nav-list li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar.close .nav-list li i.arrow {
  display: none;
}

.sidebar .nav-list li.show i.arrow {
  transform: rotate(-180deg);
}

.sidebar .nav-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-list li a .link-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s ease;
}

.sidebar.close .nav-list li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
  transition: all 0.3s ease;
}

.sidebar .nav-list li.show .sub-menu {
  display: block;
}

.sidebar.close .nav-list li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-list li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-list li .sub-menu a {
  color: #DCF2F1;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-list li .sub-menu a:hover {
  opacity: 1;
}

.sidebar .nav-list li .sub-menu .link-name {
  display: none;
}

.sidebar.close .nav-list li .sub-menu .link-name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-list li .sub-menu.blank {
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background-color: none;
  width: 78px;
}

.profile-details .profile-content {
  display: flex;
  align-items: center;
}

.profile-details .profile-content img {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 14px 0 12px;
  background-color: #1d1b31;
  transition: all 0.5s ease;
  margin-left: 5px;
}

.sidebar.close .profile-details .profile-content img {
  padding: 10px;
}

.profile-details .name-job .name,
.profile-details .name-job .job {
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .name-job .name,
.sidebar.close .profile-details .name-job .job {
  opacity: 0;
  pointer-events: none;
}

.profile-details .name-job .job {
  font-size: 12px;
}

.home-section {
  position: relative;
  height: 100vh;
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.5s ease;
  z-index: 10; /* Asegura que el contenido de la sección principal esté encima de las imágenes decorativas */
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  display: flex;
  height: 60px;
  align-items: center;
  margin-left: -30px;
}

.home-section .home-content i,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
  margin-left: 19px;
}

.home-section .home-content i {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
}

/* Estilos para manejar la visibilidad de las secciones */
.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

@media (max-width: 400px) {
  .sidebar.close .nav-list li .sub-menu {
    display: none;
  }

  .sidebar {
    width: 78px;
  }

  .sidebar.close {
    width: 0;
  }

  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }

  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}

/* Icono del menú */
.home-section .home-content i.fa-bars {
  position: relative; /* Asegura que puedas usar transformaciones */
  transition: transform 0.5s ease; /* Suaviza el movimiento */
  margin-left: -10px;
}

/* Cuando el sidebar está abierto */
.sidebar.close ~ .home-section .home-content i.fa-bars {
  transform: translateX(20px); /* Ajusta este valor según sea necesario */
}

/* Contenedor principal que divide la pantalla en dos */
.panel-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Toda la altura de la ventana */
  position: relative;
}

/* Estilos para la parte izquierda */
.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  background-color: transparent;
  position: relative;
}

.welcome-title {
  font-size: 92px; /* Letra más grande */
  color: #365486;
  font-weight: bold;
  text-align: left;
  margin-top: 100px; /* Ajusta la posición hacia abajo */
}

.main-image {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0; /* Mantén la imagen en la parte inferior */
  left: 0; /* Alineada a la izquierda */
  border-radius: 15%;
  max-height: 500px; /* Ajusta el tamaño máximo para que no se salga de la pantalla */
}

/* Estilos para la parte derecha */
.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  background-color: transparent;
  margin-top: 150px;
}

.bullet-point {
  display: flex;
  align-items: center;
  margin-bottom: 25px; /* Aumenta el espacio entre bullet points */
}

.bullet-image {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.bullet-point p {
  font-size: 30px; /* Agranda el texto */
  color: #333;
  margin: 0;
  line-height: 1.3;
}
