body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to left top, #7FC7D9, #DCF2F1); /* Aplica el gradiente aquí */
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Añadir esta línea */
    z-index: 1; /* Asegurar que el contenido del body tenga un mayor z-index */
}

.form-title {
    font-size: 50px;
    font-weight: 900;
    line-height: 112px;
    text-align: right;
    color: #0f1035;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed; /* Cambia a 'fixed' para mantener el título en una posición fija */
    top: 5px; /* Ajusta la posición vertical desde la parte superior de la ventana */
    left: calc(80% - 300px); /* Ajusta la posición horizontal, en este caso para que quede a la derecha */
    /* Puedes ajustar 'left' según tus necesidades */
    z-index: 20; /* Asegura que el título esté por encima de otros elementos */
  }
 /* Barra decorativa */
 .barra-decorativa {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 88%;
    background-color: transparent;
    z-index: 0; /* Enviar la barra decorativa detrás del formulario */
}

/* Footer decorativo */
.footer-decorativa {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2700px; 
    height: 88%;
    background-color: transparent;
    z-index: 0; /* Enviar el footer detrás del formulario */
}

.iconoModificar {
    position: fixed; /* Posiciona la imagen de manera absoluta */
    top: 0px; /* Ajusta según donde quieras que se muestre */
    left: 900px; /* Ajusta según donde quieras que se muestre */
    z-index: 20; /* Asegura que la imagen esté por encima de la barra decorativa */
    width:350px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantén la proporción de la imagen */
}

.Veteyperro{
    position: absolute; /* Posiciona la imagen de manera absoluta */
    top: 360px; /* Ajusta según donde quieras que se muestre */
    left: 80px; /* Ajusta según donde quieras que se muestre */
    z-index: 20; /* Asegura que la imagen esté por encima de la barra decorativa */
    width: 860px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantén la proporción de la imagen */
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #0F1035;
  z-index: 100; /* Asegura que el sidebar esté encima del contenido */
  transition: all 0.5s ease;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin-left: 5px;
}

.logo-name {
    width: 130px;
    height: 80px;
    margin-left: 10px;
    margin-top: 20px;
}

/* Cuando el sidebar está cerrado */
.sidebar.close {
  width: 78px;
}

.sidebar .logo {
  height: 60px;
  display: flex;
  width: 100%;
  align-items: center;
}

.sidebar .logo i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo .logo-name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo .logo-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-list {
  overflow: visible;
}

.sidebar .nav-list::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-list li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-list li:hover {
  background-color: #365486;
  border-radius: 25px;
}

.sidebar .nav-list li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-list li .icon-link {
  display: block;
}

.sidebar .nav-list li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar.close .nav-list li i.arrow {
  display: none;
}

.sidebar .nav-list li.show i.arrow {
  transform: rotate(-180deg);
}

.sidebar .nav-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-list li a .link-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s ease;
}

.sidebar.close .nav-list li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
  transition: all 0.3s ease;
}

.sidebar .nav-list li.show .sub-menu {
  display: block;
}

.sidebar.close .nav-list li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-list li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-list li .sub-menu a {
  color: #DCF2F1;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-list li .sub-menu a:hover {
  opacity: 1;
}

.sidebar .nav-list li .sub-menu .link-name {
  display: none;
}

.sidebar.close .nav-list li .sub-menu .link-name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-list li .sub-menu.blank {
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background-color: none;
  width: 78px;
}

.profile-details .profile-content {
  display: flex;
  align-items: center;
}

.profile-details .profile-content img {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 14px 0 12px;
  background-color: #1d1b31;
  transition: all 0.5s ease;
  margin-left: 5px;
}

.sidebar.close .profile-details .profile-content img {
  padding: 10px;
}

.profile-details .name-job .name,
.profile-details .name-job .job {
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .name-job .name,
.sidebar.close .profile-details .name-job .job {
  opacity: 0;
  pointer-events: none;
}

.profile-details .name-job .job {
  font-size: 12px;
}

.home-section {
  position: relative;
  height: 100vh;
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.5s ease;
  z-index: 10; /* Asegura que el contenido de la sección principal esté encima de las imágenes decorativas */
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  display: flex;
  height: 60px;
  align-items: center;
  margin-left: -30px;
}

.home-section .home-content i,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
  margin-left: 19px;
}

.home-section .home-content i {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
}

/* Estilos para manejar la visibilidad de las secciones */
.content-section {
  display: none; /* Oculto por defecto */
}

.content-section.active {
  display: block; /* Se muestra cuando tiene la clase 'active' */
}

@media (max-width: 400px) {
  .sidebar.close .nav-list li .sub-menu {
    display: none;
  }

  .sidebar {
    width: 78px;
  }

  .sidebar.close {
    width: 0;
  }

  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }

  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}

/* Icono del menú */
.home-section .home-content i.fa-bars {
  position: relative; /* Asegura que puedas usar transformaciones */
  transition: transform 0.5s ease; /* Suaviza el movimiento */
  margin-left: -10px;
}

/* Cuando el sidebar está abierto */
.sidebar.close ~ .home-section .home-content i.fa-bars {
  transform: translateX(20px); /* Ajusta este valor según sea necesario */
}

/* Bloque blanco con texto a la izquierda */


.welcome-block:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3); /* Sombra más grande al hacer hover */
  transform: translateY(-10px); /* Hace que el bloque se eleve suavemente */
  background-color: #f0f8ff; /* Cambia ligeramente el color de fondo */
  transition: all 0.3s ease; /* Asegura que todos los efectos de hover se animen */
}

.welcome-block h1 {
    font-size: 80px; /* Tamaño grande para el texto de bienvenida */
    font-weight: bold; /* Asegura que el texto sea grueso */
    color: #0f1035; /* Color del texto */
    text-align: center; /* Centrar el texto */
    margin-top: -8%; /* Separación desde el borde superior */
    line-height: 1.2; /* Espaciado entre las líneas */
    letter-spacing: 2px; /* Espaciado entre las letras para dar un efecto más abierto */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil para darle profundidad */
  }
  
  .welcome-block {
    width: 40%; /* Ocupa todo el ancho disponible */
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
    margin-top: 10%; /* Ajusta esta propiedad según la ubicación que desees para el texto */
  }
/* Texto de bienvenida grande encima del veterinario */
.text-right {
  position: absolute;
  top: 100px;
  right: 100px;
  text-align: right;
  z-index: 10;
}

.welcome-text {
  font-size: 40px;
  font-weight: 900;
  color: #0f1035;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  letter-spacing: 1px;
}