/* Estilos globales */
body {
    font-family: 'Inter', sans-serif;
    background-color: #DCF2F1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Ajustes del contenedor principal */
.container {
    margin-top: -50px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background: linear-gradient(135deg, #fff, #f9f9f9);
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* Título principal */
h1.servicios {
    font-size: 45px;
    font-weight: 900;
    color: #0f1035;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    margin-top: -150px;
}
h5 {
    font-size: 20px;
    font-weight: 600;
    color: #0f1035;
    margin-top: -20px;
    margin-bottom: -15px;
}

/* Estilos de la tarjeta */
.card {
    background-color: #ffffff;
    margin-top: 0px;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 40px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-size: 35px;
    font-weight: 900;
    color: #365486;
    margin-bottom: 30px;
}

.card-text {
    font-size: 20px;
    color: #0f1035;
    margin-bottom: 20px;
}

/* Imagen de la mascota */
.card-img-top {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}

/* Botón de volver */
.btn-testimonios {
    text-decoration: none;
    background-color: #0f1035;
    color: #f0eded;
    border-radius: 25px;
    font-size: 18px;
    padding: 15px 30px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

.btn-testimonios:hover {
    background-color: #365486;
    transform: translateY(-5px);
}

/* Footer decorativo */
.footer-decorativa {
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    height: 80%;
    z-index: -1;
    background-color: transparent;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    .card {
        padding: 20px;
    }

    .card-title {
        font-size: 28px;
    }

    .card-text {
        font-size: 16px;
    }

    .card-img-top {
        width: 150px;
        height: 150px;
    }

    .btn-testimonios {
        font-size: 16px;
        padding: 10px 20px;
    }
}
