html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evitar el scroll */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #e0f7fa; /* Fondo azul agua marina */
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative; /* Permitir posicionamiento absoluto de imágenes */
    flex: 0 0 auto;
}

footer {
    position: relative;
    z-index: -1; /* Asegurar que esté detrás del contenido */
    flex: 0 0 auto;
}

.logo {
    position: absolute;
    width: 400px; /* Tamaño ajustado */
    height: auto;
    top: -10px;
    left: 0px;
    z-index: 10; /* Asegurar que esté sobre la imagen de la barra */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Ajustar el gap */
    padding: 0;
    margin: 0;
    z-index: 10; /* Asegurar que esté sobre la imagen de la barra */
    position: absolute;
    top: 70px; /* Bajar la navbar */
    right: 40px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #365486; /* Color de letra de la navbar */
    font-size: 22px; /* Tamaño de fuente ajustado */
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0F1035; /* Hover background */
    color: #FBF3F3; /* Hover text color */
}

nav ul li a.button {
    border: 1px solid #365486; /* Borde para 'Iniciar Sesión' */
    padding: 10px 20px; /* Padding ajustado */
    border-radius: 40px;
    background-color: #3654861C; /* Hover permanente para 'Iniciar Sesión' */
    color: #365486; /* Color de texto */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: -5px; /* Alinear con los otros elementos */
}

nav ul li a.button:hover {
    background-color: #0F1035; /* Hover background */
    color: #FBF3F3; /* Hover text color */
}

.header-bg {
    position: absolute;
    width: 1200px; /* Tamaño ajustado */
    height: auto;
    top: 0;
    right: 0;
    border-radius: 70px 0px 0px 0px;
    z-index: 1; /* Behind other content */
}

.hero {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px; /* Ajustar padding */
    background-color: transparent; /* Fondo azul agua marina */
    position: relative;
    flex: 1 0 auto;
    height: calc(100% - 120px); /* Ajustar la altura para incluir el footer */
}

.hero .content {
    z-index: 2;
    max-width: 50%;
    text-align: right; /* Texto alineado a la derecha */
    position: absolute;
    top: 50%; /* Ajustar la posición */
    right: 50px;
    transform: translateY(28%);
}

.hero .title {
    font-size: 90px;
    font-weight: 900;
    line-height: 90px;
    text-align: right;
    color: #0F1035;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Sombra del texto */
    margin: 0;
}

.hero .description {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    color: #555555;
    margin-top: 15px;
}

.btn-testimonios {
    display: inline-block;
    margin-top: 20px; /* Añadir espacio arriba */
    padding: 10px 20px;
    background-color: #0F1035;
    color: #FBF3F3;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-testimonios:hover {
    background-color: #333333;
}

.hero .images {
    position: absolute;
    top: 20px; /* Subir la imagen */
    left: 38px;
}

.hero .hero-image {
    width: 50%;
    height: auto;
}

.footer-bg {
    position: absolute;
    width: 1000px; /* Tamaño ajustado */
    height: auto;
    bottom: 100; /* Asegurar que esté en la parte inferior */
    left: 0;
    z-index: -1; /* Behind the hero content */
}

.social-icons {
    position: absolute;
    bottom: 20px; /* Ajusta según sea necesario */
    right: 40px;
    display: flex;
    gap: 20px;
    z-index: 10; /* Asegura que estén visibles */
}

.social-icons img {
    width: 35px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: auto;
}