body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FA;
}

header {
    background-color: #FFFFFF;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #CAF4FF;
}

.hero .content {
    max-width: 500px;
}

.hero h1 {
    font-size: 2.5em;
    color: #003366;
}

.hero p {
    font-size: 1.2em;
    color: #333;
}

.hero button {
    background-color: #003366;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 20px;
}

.hero .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: #333;
}
