<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Mascota</title>
    <link rel="stylesheet" href="/css/petform.css">
</head>
<body>
    <header id="header">
        <h1 class="form-title">Formulario de Mascota</h1>
    </header>
    <main class="main-container">
        <div class="form-container">
            <form th:action="@{/pets}" th:object="${pet}" method="post">
                <!-- Campo oculto para mantener el ID de la mascota -->
                <input type="hidden" th:field="*{id}" />

                <label for="name">Nombre:</label>
                <input type="text" id="name" th:field="*{name}" />

                <label for="breed">Raza:</label>
                <input type="text" id="breed" th:field="*{breed}" />

                <label for="age">Edad:</label>
                <input type="number" id="age" th:field="*{age}" />

                <label for="weight">Peso:</label>
                <input type="number" id="weight" th:field="*{weight}" />

                <label for="illness">Enfermedad:</label>
                <input type="text" id="illness" th:field="*{illness}" />

                <label for="photoUrl">URL de la Foto:</label>
                <input type="text" id="photoUrl" th:field="*{photoUrl}" />

                <label for="status">Estado:</label>
                <select id="status" th:field="*{status}">
                    <option value="Activo" th:text="'Activo'" th:selected="${pet.status == 'Activo'}">Activo</option>
                    <option value="Inactivo" th:text="'Inactivo'" th:selected="${pet.status == 'Inactivo'}">Inactivo</option>
                </select>

				<label for="owner">Propietario:</label>
				<select id="owner" th:field="*{propietario}">
					<option th:each="propietario : ${propietarios}" th:value="${propietario.cedula}" th:text="${propietario.nombre}"></option>
				</select>

                <button type="submit">Guardar</button>
            </form>          
        </div>
    </main>
</body>
</html>
