<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista de Propietarios</title>
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/propietario-list.css" />
  <script src="/JavaScript/datos.js" defer></script>
</head>
<body>
  <main class="table" id="customers_table">
    <section class="table__header">
        <h1>MASCOTAS</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="images/search.png" alt="">
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Cédula <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Nombre <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Correo <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Celular <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Acciones <span class="icon-arrow">&UpArrow;</span></th>
                </tr>
            </thead>
            <tbody>
              <tr th:each="propietario : ${propietarios}">
                <td th:text="${propietario.cedula}"></td>
                <td th:text="${propietario.nombre}"></td>
                <td th:text="${propietario.correo}"></td>
                <td th:text="${propietario.celular}"></td>


                    <!--BOTONES DE ACCIONES-->
                    <td>
                      <a th:href="@{/propietarios/editar/{cedula}(cedula=${propietario.cedula})}" class="btn-editar">Editar</a>
                      <a th:href="@{/propietarios/eliminar/{cedula}(cedula=${propietario.cedula})}" class="btn-eliminar">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <a class="btn-crear">Crear Nuevo</a>
</main>
  <footer>
    <img src="/images/footer.png" alt="Footer Decorativo" class="footer-decorativa" />
  </footer>
  <script src="/JavaScript/script.js" defer></script>
</body>
</html>